.idea
node_modules
output
Sample/js
script/debug.sh
Thumbs.db
*.js
*.map
*.dll
*.csproj.user
*.cs
/web.Release.config
/web.Debug.config
*.csproj
*.cache
app.css
/obj/Debug
/bin/egret3d.dll.config
/bin/egret3d.pdb
