<?xml version="1.0" encoding="utf-8"?>
<particle xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <version>1</version>
  <property>
    <particleCount>1000</particleCount>
    <bounds x="10" y="10" z="10" />
    <colorType>Const</colorType>
    <startColorFrom>0xffffffff</startColorFrom>
    <startColorTo>0xff00ff00</startColorTo>
    <gradients1>
      <item time="0.0" color="0xff00ff00"></item>
      <item time="0.4" color="0xffff0000"></item>
      <item time="0.6" color="0xff0000ff"></item>
      <item time="1.0" color="0xffffffff"></item>
    </gradients1>
    <gradients2>
      <item time="0.0" color="0xff00ff00"></item>
      <item time="0.4" color="0xffff0000"></item>
      <item time="0.6" color="0xff0000ff"></item>
      <item time="1.0" color="0xffffffff"></item>
    </gradients2>
    <gravity>0</gravity>
    <transform>
      <rotation x="270" y="0" z="0" />
      <scale x="1" y="1" z="1" />
      <position x="-0.707106769" y="0" z="0" />
    </transform>
  </property>
  <emission>
    <rate>0</rate>
    <type>OneBezier</type>
    <bursts>
      <item time="0.1" count="30" />
    </bursts>
    <bezier>
      <pos x="0" y="0" />
      <pos x="1" y="10" />
      <ctrl x="0.333333" y="6.666667" />
      <ctrl x="0.666666" y="10" />
    </bezier>
  </emission>
  <life>
    <duration>5</duration>
    <lifeMax>5</lifeMax>
    <lifeMin>5</lifeMin>
    <delay>0</delay>
    <loop>true</loop>
  </life>
  <shape>
    <type>Cube</type>
    <randomDirection>true</randomDirection>
    <cube width="1" height="1" depth="1" />
    <sphereRadius>0</sphereRadius>
  </shape>
  <rotationBirth>
    <min x="0" y="0" z="0" />
    <max x="0" y="0" z="0" />
  </rotationBirth>
  <scaleBirth>
    <max x="1" y="1" z="1" />
    <min x="1" y="1" z="1" />
  </scaleBirth>
  <geometry>
    <type>Plane</type>
    <plane width="2.56" height="2.56" />
  </geometry>
  <moveSpeed>
    <max>5</max>
    <min>5</min>
  </moveSpeed>
  <followTarget>
    <followRotation>true</followRotation>
    <followScale>true</followScale>
  </followTarget>
  <mat id="0" name="Egret3D/d/E3D_D_Add">
    <diffuseTextureName>Texture/sponza_flag.jpg</diffuseTextureName>
    <normalTextureName />
    <specularTextureName />
    <shadowTextureName />
    <diffuseColor>0x808080</diffuseColor>
    <ambientColor>0x1a1a1a</ambientColor>
    <specularColor>0x1f4f78</specularColor>
    <alpha>1</alpha>
    <cutAlpha>0</cutAlpha>
    <specularLevel>1</specularLevel>
    <gloss>80</gloss>
    <ambientPower>1</ambientPower>
    <diffusePower>1</diffusePower>
    <normalPower>1</normalPower>
    <castShadow>false</castShadow>
    <acceptShadow>false</acceptShadow>
    <smooth>true</smooth>
    <repeat>false</repeat>
    <bothside>false</bothside>
    <drawMode>4</drawMode>
    <cullMode>1029</cullMode>
    <blendMode>ADD</blendMode>
  </mat>
</particle>